@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.4s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@layer base {
  :root {
    --backgroundcolor-general: 30 27 75;
    --backgroundcolor-navbar: 30 27 75;
    --backgroundcolor-footer: 51 65 85;
    --backgroundcolor-infobox: 51 65 85;
    --color-link: 224 232 255;
    --color-text: 229 232 255;
    --color-title: 224 232 255;
    --color-subtitle: 224 232 255;
  }

  :root[data-theme="dark"] {
    --backgroundcolor-general: 30 27 75;
    --backgroundcolor-navbar: 30 27 75;
    --backgroundcolor-footer: 51 65 85;
    --backgroundcolor-infobox: 51 65 85;
    --color-link: 224 232 255;
    --color-text: 229 232 255;
    --color-title: 224 232 255;
    --color-subtitle: 224 232 255;
  }

  :root[data-theme="light"] {
    --backgroundcolor-general: 224 232 255;
    --backgroundcolor-navbar: 224 232 255;
    --backgroundcolor-footer: 134 163 204;
    --backgroundcolor-infobox: 134 163 204;
    --color-link: 15 10 60;
    --color-text: 15 10 60;
    --color-title: 15 10 60;
    --color-subtitle: 15 10 60;
  }

}