*{
  transition: 0.3s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  background-color: #111;
  background-image: linear-gradient(to bottom right, #111, #19053f);
}