.container {
    display: flex;
    padding: 1.5rem;
    box-shadow: 0px 15px 10px -15px #8c52ff; 
}

.menulink {
    margin-left: 2rem;
    text-decoration: none;
    color: #8c52ff;
}
.menulink:hover {
    text-decoration: dashed;
    color: antiquewhite;
}